body {
    display: block;
    margin: 0px;
    overflow-y: hidden;
}

p{
    font-family: "Segoe UI";
    text-align: justify;
    position: relative;
    color: rgba(0,0,0,0);
}

.profileContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 12%;
    left: 18%;
    width: 28%;
    height: auto;
}

.profileContent :first-child{
    font-size: 20px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
}

.profileContent :nth-child(2){
    margin-top: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0px;
}

.profileContent :last-child{
    margin-top: 0px;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: 5%;
}

.projectContent{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 70%;
    left: 18%;
    width: 28%;
    height: auto;
}

.projectText{

}