*{
    font-family: "Lato", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    margin: 0;
    padding: 0 24px;
    display: block;
    box-sizing: border-box;
    background-color: #00000A;
    height: 100vh;
    width: 100vw;
    color: #ffffff;
}

@media (min-width: 1824px){
    header {
        padding-left: 25vw;
    }
}

@media (min-width: 1224px){
    header {
        padding-left: 20vw;
    }
}

header h1 {
    margin: 0;
    padding: 25vh 0 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 4s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

header p {
    margin: 0;
    padding: 1.5rem 0 15vh;
    opacity: 0;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 4s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    letter-spacing: 1px;
}

@media (min-width: 768px){
    p {
        line-height: 2rem;
    }
}

@media (min-width: 768px){
    header p {
        padding-bottom: 20vh;
    }
}

.Main{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
}

.Main_About{
    height: 100vh;
    width: 100vw;
    display: flex;
}

.Main_About_Photo{
    height: 500px;
    width: auto;
    padding-left: 15vw;
    padding-top: 15vh;
}

.Main_About_Description{
    padding-top: 15vh;
    padding-left: 5vw;
    padding-right: 15vw;
}

.Main_About_Description h1 h2 h3{
    font-size: 2rem;
    text-align: center;
}

.Main_About_Description h2{
    font-weight: lighter;
}

.Main_About_Description h3{
    margin-block-start: initial;
    font-weight: lighter;
}

.Main_About_Description p{
    text-align: justify;
    text-justify: inter-word;
}

.Main_About_Description_WhatNext{
    display: flex;
    width: 100%;
}

.Main_About_Description_WhatNext :nth-child(2){
    margin-left: 5vw;
}

.Main_About_Description_WhatNext a{
    text-decoration: none;
}

/* unvisited link */
.Main_About_Description_WhatNext a:link {
    color: black;
}

/* visited link */
.Main_About_Description_WhatNext a:visited {
    color: black;
}

/* mouse over link */
.Main_About_Description_WhatNext a:hover {
    color: rgb(127, 0, 231);
}

/* selected link */
.Main_About_Description_WhatNext a:active {
    color: rgb(127, 0, 231);
}

.Main_Projects{
    height: 100vh;
    width: 100vw;
}

@media (min-width: 768px){
    header h1, header h2 {
        font-size: 4rem;
    }
}